@charset "UTF-8";
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  *font-size: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

legend {
  color: #000;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: 0; /* キーボード操作"以外"でフォーカスされた際はoutlineを消す */
}

.l_header {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.l_header_inner {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  .l_header_inner {
    max-width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .l_header_inner {
    max-width: 100%;
    margin: 0;
    margin-left: 24px;
    margin-right: 24px;
  }
}
.l_header_logo-wrapper {
  width: 207px;
  height: 65px;
  margin: 17px 0px 17px 0px;
}
@media screen and (max-width: 1080px) {
  .l_header_logo-wrapper {
    width: 153px;
    height: 58px;
  }
}
.l_header_logo-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.l_header_logo {
  width: 100%;
  height: 100%;
}
.l_header-nav {
  text-align: center;
  margin: auto 0;
}
@media screen and (max-width: 1080px) {
  .l_header-nav {
    height: 53px;
  }
}
@media screen and (max-width: 768px) {
  .l_header-nav {
    opacity: 0;
    position: fixed;
    box-shadow: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 10;
  }
}
.l_header-nav_list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 0 40px;
}
@media screen and (max-width: 1200px) {
  .l_header-nav_list {
    gap: 24px;
    margin: 0 20px;
  }
}
@media screen and (max-width: 1080px) {
  .l_header-nav_list {
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  .l_header-nav_list {
    flex-direction: column;
    color: #fff;
    gap: 100px;
  }
}
.l_header-nav_link {
  color: #EBA5AC;
  font-size: 22px;
}
@media screen and (max-width: 1200px) {
  .l_header-nav_link {
    font-size: 18px;
  }
}
@media screen and (max-width: 1080px) {
  .l_header-nav_link {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .l_header-nav_link {
    font-size: 32px;
  }
}

.top_fv {
  background: radial-gradient(29.25% 29.25% at 50% 50%, #FCFCFC 0%, #9ED1CB 100%);
  height: 100vh;
}
.top_fv-title {
  color: #EBA5AC;
  font-family: "Cormorant", serif;
  font-size: 60px;
  font-weight: bold;
}
.top_fv-title-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.top_fv-sub-title {
  text-align: center;
  color: #EBA5AC;
}
.top_fv-img-wrapper {
  position: absolute;
  bottom: 0;
}

.top_concept {
  background: url(../img/concept.png);
  width: 100%;
  padding-top: 88px;
  padding-bottom: 104px;
}
.top_concept-inner {
  max-width: 90%;
  margin: 0 auto;
}
.top_concept-title {
  color: #EBA5AC;
  text-align: center;
}
.top_concept-sub-title {
  color: #EBA5AC;
  text-align: center;
}
.top_concept-group {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.top_concept-detail-title {
  font-size: 32px;
  font-weight: 500;
}
.top_concept-detail-title span {
  background: linear-gradient(transparent 70%, #F6DFDE 50%);
}
.top_concept-detail__txt {
  margin-top: 32px;
  font-size: 21px;
}
.top_concept-detail__txt p {
  margin-top: 16px;
}
.top_concept-detail__txt :nth-of-type(1) {
  margin-top: 0;
}
.top_concept-detail-service {
  margin-top: 40px;
}
.top_concept-detail-service-title {
  font-size: 22px;
  color: #EBA5AC;
  font-weight: 400;
}
.top_concept-detail-service__txt {
  font-size: 21px;
  margin-top: 16px;
}
.top_concept-img-wrapper {
  position: relative;
}
.top_concept-img01 {
  width: 100%;
  height: 100%;
}
.top_concept-img01-wrapper {
  width: 389px;
  height: 327px;
}
.top_concept-img02 {
  width: 100%;
  width: 100%;
}
.top_concept-img02-wrapper {
  width: 120px;
  height: 212px;
  position: absolute;
  bottom: 0;
  left: -10%;
}

.top_flow-area-wrapper {
  width: 300vw;
  background: url(../img/flowbackground01.png);
}
.top_flow-area-item01 {
  height: 100vh;
}
.top_flow-area-item02 {
  height: 100vh;
}
.top_flow-area-item03 {
  height: 100vh;
}
.top_flow-title {
  color: #EBA5AC;
  text-align: left;
}
.top_flow-title-group {
  margin-left: 64px;
}
.top_flow-sub-title {
  padding-top: 80px;
  color: #9ED1CB;
  text-align: left;
  white-space: nowrap;
}
.top_flow-bicycle-wrapper {
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 100%; /* 上端から10pxのところで固定 */
  width: 302px;
  height: 309px;
  z-index: 10;
}
.top_flow-group01 {
  position: absolute;
  top: 30%;
  left: 463px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 168px;
}
.top_flow-group02 {
  position: absolute;
  top: 30%;
  left: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 168px;
}
.top_flow-group03 {
  position: absolute;
  top: 30%;
  left: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 168px;
}
.top_flow-unit {
  width: 219px;
  height: 194px;
}
.top_flow-unit:before {
  background: inherit;
  content: "";
  position: absolute;
  background: #f997bc;
  box-shadow: 0px 3px 10px #000;
  filter: blur(9px);
  filter: opacity(0.27);
  filter: brightness(-1);
  width: 219px;
  height: 194px;
  border-radius: 29px;
  z-index: -1;
}
.top_flow-unit_img {
  width: 100%;
  height: 100%;
}
.top_flow-unit_img-wrapper {
  margin: 32px 68px 0 68px;
  width: 81px;
  height: 79px;
}
.top_flow-unit-title {
  color: #F9F5B4;
  margin-top: 8px;
  text-align: center;
  font-size: 21px;
}
.top_flow-unit-detail {
  color: #F9F5B4;
  text-align: center;
  margin-top: 4px;
  font-size: 12px;
}
.top_flow-btn_txt {
  font-size: 21px;
  color: #fff;
}
.top_flow-btn-wrapper {
  margin-top: 24px;
  font-size: 21px;
}
.top_flow-btn-wrapper:before {
  background: inherit;
  content: "";
  position: absolute;
  background: #f997bc;
  box-shadow: 0px 3px 10px #000;
  filter: blur(9px);
  filter: opacity(0.27);
  filter: brightness(-1);
  width: 316px;
  height: 66px;
  border-radius: 29px;
  z-index: -1;
}
.top_flow-btn {
  color: #F9F5B4;
  padding: 20px 32px;
}

.top_policy {
  background: #F6DFDE;
  padding-bottom: 170px;
}
.top_policy-inner {
  max-width: 70%;
  margin: 0 auto;
}
.top_policy-sub-title {
  text-align: center;
  padding-top: 103px;
  color: #EBA5AC;
}
.top_policy-title {
  text-align: center;
  color: #9ED1CB;
}
.top_policy-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: normal;
  gap: 163px;
  margin-top: 53px;
}
.top_policy-img-item {
  width: 243px;
  height: 334px;
}
.top_policy-img-item__txt {
  margin-top: 16px;
  font-size: 22px;
}
.top_policy-img-wrapper {
  width: 243px;
  height: 334px;
}
.top_policy-contents-item {
  width: 100%;
}
.top_policy-contents-item__unit-title {
  color: #9ED1CB;
  font-size: 32px;
}
.top_policy-contents-item__unit-txt {
  margin-top: 16px;
}

.top_price {
  background: #FFF2F5;
  padding-top: 97px;
}
.top_price-sub-title {
  text-align: center;
  color: #EBA5AC;
}
.top_price-title {
  text-align: center;
  color: #F6DFDE;
}
.top_price-table {
  border-collapse: separate;
  margin: 0 auto;
}
.top_price-title-sub {
  width: 330px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-weight: 600;
  font-size: 29px;
  padding-top: 70px;
}
.top_price-title-sub p {
  position: relative;
  z-index: 2;
}
.top_price-title-main {
  height: 129px;
  width: 330px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-weight: 600;
  font-size: 29px;
  padding-top: 40px;
}
.top_price-title-main p {
  position: relative;
  z-index: 2;
}
.top_price-title-sub::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 330px;
  height: 90px;
}
.top_price-title-sub::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 330px;
  height: 31px;
  border-right: 165px solid transparent;
  border-left: 165px solid transparent;
}
.top_price-title-main::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 330px;
  height: 129px;
}
.top_price-title-main::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 330px;
  height: 31px;
  border-right: 165px solid transparent;
  border-left: 165px solid transparent;
}
.top_price-green-table::before {
  background-color: #B0E5CC;
}
.top_price-green-table::after {
  border-top: 31px solid #b0e5cc;
}
.top_price-blue-table::before {
  background-color: #8899D4;
}
.top_price-blue-table::after {
  border-top: 31px solid #8899D4;
}
.top_price-red-table::before {
  background-color: #EEA8A8;
}
.top_price-red-table::after {
  border-top: 31px solid #EEA8A8;
}
.top_price-price {
  background: #fff;
  padding-top: 45px;
  color: #B7404C;
  font-size: 40px;
}

.m_title {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
}

.m_sub-title {
  font-size: 24px;
  font-weight: 400;
}

.js_area {
  overflow: hidden;
}

.js-area-wrapper {
  display: flex;
}

body {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}/*# sourceMappingURL=style.css.map */