@use "../global/setting" as s;
.m_title{
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-weight: 400;
}
.m_sub-title{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}